<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>working hours</title>
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
            background-color: darkolivegreen;
        }
        body{background-color: aqua;}
        table{
            margin: auto;
            width: 50%;
            height: 200px;
        }
    </style>
    
</head>
<body>
    

<b><h1>Dear Customer, Please reffer to the given time-table that will direct you to plan well your staffs!</h1>
<h4>   We enjoy to have you our king </h4></b>
<table>
    <tr>
        <th>Day</th>
        <th>Openning</th>
        <th>Closing</th>
    </tr>
    <tr>
        <td>Monday</td>
        <td>8:00</td>
        <td>16:00</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>8:00</td>
        <td>16:00</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>8:00</td>
        <td>16:00</td>
    </tr>
    <tr>
        <td>Thusday</td>
        <td>8:00</td>
        <td>16:00</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>8:00</td>
        <td>11:00</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>8:00</td>
        <td>16:00</td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>8:00</td>
        <td>12:00</td>
    </tr>
    
</table>
</body>
</html>